.heading
{
    color: white;
    background-color: black;
    outline-color: blue;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading:hover
{
    background-color: red;
}
.introduction
{
    font-size: larger;
    font: outline;
    font-style: italic;
    font: bold;
    animation: test 5s linear 2s infinite alternate-reverse;

}
.introduction:hover
{
    color: whitesmoke;
}
@keyframes test{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }