*.class
Qt5/build-helloWorld-Desktop_Qt_5_12_10_GCC_64bit-Debug/
/C#/helloWorld.exe
.vs
..gitignore.un~
.gitignore~
.vs/hello-world/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/hello-world/v16/.suo
*.exe
*.obj
